<!DOCTYPE html>
<html>
<head>
  <title>FoodRecipeApp | <%= yield(:title)%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class = "navbar navbar-default">
		<div class = "container">
			<div class = "navbar-brand"><%= link_to "FoodRecipe", root_path%></div>
		
			<ul class = "nav navbar-nav navbar-right">
				<li><%= link_to "Create New Recipe", new_recipe_path %></li>
				<li><%= link_to "Sign Out", root_path%></li>
			</ul>
		</div>
	</nav>
<div class = "container">
	<%flash.each do |name, msg|%>
		<%= content_tag :div, msg, class: "alert"%>
	<%end%>	
<%= yield %>
</div>


</body>
</html>
